@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>

</head>

<body>
    <div class="jumbotron" runat="server" id="main">

        <div id="header">
            <div id="logoDiv" class="col-sm-3">
                <!-- logo Image thing goes here -->
            </div>
            <div id="subHeader" class="col-sm-9">
                <div id="bannerDiv">
                    <!-- Banner Image goes here-->
                </div>
                <div id="linkBar" class="navbar-collapse">
                    <!-- Links to other pages go here-->
                </div>


            </div>


        </div>
        <div id="body">



        </div>



    </div>



</body>