@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>

</head>
<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body">
            <form lpformnum="17" class="">
                <div class="col-md-6 form-group form-inline" id="" style="">
                    <label for="classTitle" class="">Title</label>
                    <input class="pull-right" type="text">
                </div>
                <div class="col-md-6 form-group form-inline">
                    <label for="courseCode" class="">Course Code:</label>
                    <input class="pull-right" type="text">
                </div>
                <div class="form-group">
                    <div class="col-md-6 form-inline">
                        <label for="courseCode" class="">Days:</label>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Monday</label>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Tuesday</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Wednesday</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Thursday</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Friday</label>
                    </div>
                </div>
                <div class="col-md-6 form-group form-inline">
                    <label for="startTime" class="">Start Time:</label>
                    <input class="pull-right" type="text">
                </div>
                <div class="col-md-6 form-group form-inline">
                    <label for="endTime" class="">End Time:</label>
                    <input class="pull-right" type="text">
                </div>
                <div class="col-md-6 form-group form-inline">
                    <label for="term" class="">Term:</label>
                    <input class="pull-right" type="text">
                </div>
                <div class="radio">
                    <label><input type="radio" >Tracked</label>
                </div>
            </form>
        </div>
    </div>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body"></div>
    </div>
</body>