<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Signature.aspx.cs" Inherits="GridViewSample.Signature" %>



<!DOCTYPE HTML>
<!-- saved from url=(0038)http://szimek.github.io/signature_pad/ -->
<HEAD>
    <META content="IE=11.0000"
          http-equiv="X-UA-Compatible">



    <META charset="utf-8">
    <TITLE>Signature Pad demo</TITLE>

    <META name="description" content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">



    <META name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">



    <META name="apple-mobile-web-app-capable" content="yes">

    <META name="apple-mobile-web-app-status-bar-style" content="black">
    <LINK href="css/signature-pad.css" rel="stylesheet">

    <script src="Scripts/jquery-1.8.2.min.js"></script>

    <SCRIPT type="text/javascript">

    var _gaq = _gaq || [];

    _gaq.push(['_setAccount', 'UA-39365077-1']);

    _gaq.push(['_trackPageview']);



    (function () {

        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

    })();

    </SCRIPT>



    <META name="GENERATOR" content="MSHTML 11.00.10240.16445">
</HEAD>

<form id="form1" runat="server">

    <BODY onselectstart="return false">
        <A id="github" href="https://github.com/szimek/signature_pad">
            <IMG style="border: 0px currentColor; border-image: none; top: 0px; right: 0px; position: absolute;"
                 alt="Fork me on GitHub" src="css/forkme_right_gray_6d6d6d.png">

        </A>

        <DIV class="m-signature-pad" id="signature-pad">

            <DIV class="m-signature-pad--body"><CANVAS></CANVAS>     </DIV>

            <DIV class="m-signature-pad--footer">



                <DIV class="description">Sign above</DIV>

                <BUTTON class="button clear" data-action="clear">Clear</BUTTON>

                <asp:Button ID="Button1" runat="server" Text="Button" CssClass="button save" data-action="save" OnClick="Button1_Click" />

            </DIV>

        </DIV>

        <asp:HiddenField ID="ImgInformation" runat="server" />

        <SCRIPT src="js/signature_pad.js"></SCRIPT>



        <SCRIPT src="js/app.js"></SCRIPT>

    </BODY>

</form>