@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<User>

@{
    ViewData["Title"] = "Home Page";
}



<body id="body">
    @*
        First Panel
    *@
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        User Information
        <div class="col-md-8 col-md-offset-2 vert-offset-top-20">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group form-inline">
                        <label class="col-md-6 control-label pull-left" for="AddName"><strong>Name:</strong></label>
                        <div class="col-md-6 pull-right">
                            <input type="text" class="form-control" placeholder="first last" id="nameField">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-inline">
                        <label class="col-md-6 control-label pull-left" for="AddPhone"><strong>Phone:</strong></label>
                        <div class="col-md-6 pull-right">
                            <input type="text" class="form-control" placeholder="***-***-****" id="phoneField">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-inline">
                        <label class="col-md-6 control-label pull-left" for="AddAddress"><strong>Email Address:</strong></label>
                        <div class="col-md-6 pull-right">
                            <input type="text" class="form-control" placeholder="name@place.co" id="addressField">
                        </div>
                    </div>
                </div>

            <div class="panel panel-default col-md-10 col-md-offset-2" id="cardSwipeBox">
                <div class="panel-heading">Initial Card Swipe</div>
                <div class="panel-body">
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Card Swipe" id="cardSwipeField">
                        </div>
                    
                </div>
            </div>
                <div class=" col-md-offset-3 vert-offset-bottom-20"><button type="button" class="btn btn-primary" onclick="nextButton()">Next</button></div>
            </form>
        </div>

    </div>
        @*
            Second panel
        *@
        
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body">
            <form asp-controller="Home" asp-action="MoveGroupToVideo" id="progressForm">
                <div id="scrollview" style="overflow:scroll;height:400px">
                    <div></div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    var iter = 0;
    @{ List < User > outputList = new List<User>();}
    function nextButton() {
        var name = this.document.getElementById("nameField");
        var phone = this.document.getElementById("phoneField");
        var address = this.document.getElementById("addressField");
        var cardSwipe = this.document.getElementById("cardSwipeField");
        if (isValidName(name) && isValidEmail(address.value) && isValidPhone(phone.value) && isValidCardSwipe(cardSwipe.value) ){
            var count = @Model.Count();
            var scrollView = this.document.getElementById("scrollview");
            scrollView.innerHTML+="<div>"+name.value+"</div>"+
                "<input type=\"text\" name=\"nameField\" value=\""+name.value+"\" hidden />"+
                "<input type=\"text\" name=\"phoneField\" value=\""+phone.value+"\" hidden />"+
                "<input type=\"text\" name=\"addressField\" value=\""+address.value+"\" hidden />"+
                "<input type=\"text\" name=\"cardSwipeField\" value=\""+cardSwipe.value+"\" hidden />";

            name.value="";
            phone.value="";
            address.value="";
            cardSwipe.value="";


            iter = iter+1;
            if(iter>= count){

                this.document.getElementById("progressForm").submit();


            }
        }

    }

    function isValidName(field){//this one is different than the following three because I was trying to get the field to have a red outline on
        //invalid input, but couldn't figure it out and gave up for a while ~ Parker
        var toCheck = field.value;
        if(toCheck==""){
            return false;
        }
        else if(toCheck.match(/\S+\s\S+/)){
            return true;

        }
        return false;
    }
    function isValidEmail(toCheck){
        if(toCheck==""){
            return false;

        }
        else if(toCheck.match(/\S+[@Html.Raw("@")]\S+/)){
            return true;

        }
        return false;
    }

    function isValidPhone(toCheck){
        if(toCheck==""){
            return false;

        }
        else if(toCheck.length == 10){
            return true;

        }
        return false;
    }

    function isValidCardSwipe(toCheck){
        if(toCheck==""){
            return false;

        }
        else {
            return true;

        }
    }


</script>