@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>

</head>
<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <form>
            <!--Authenticate the user-->
            <div class="form-group">
                <div class="form-inline">
                    <label class="control-label">User Name:</label>
                    <input type="text" />
                </div>
                <div class="form-inline">
                    <label class="control-label">Password:</label>
                    <input type="text" />
                </div>
                <button class="btn btn-primary">Log in </button>
            </div>
        </form>
    </div>
</body>