
@{
    ViewData["Title"] = "Home Page";
}
@model WebApplication3.Models.Certification

<head>

</head>

<body>
    <div class="container col-md-5 col-md-offset-3 panel panel-default">
        Certificate Information
        <div class="panel-body">
                <div class="container">
                      @{string certName;
                          string yearsValid;
                          int systemID;
                          if (Model == null)
                          {
                              certName = "";
                              yearsValid = "";
                              systemID = -1;
                          }
                          else
                          {
                              certName = Model.title;
                              yearsValid =""+ Model.yearsBeforeExp;
                              systemID = Model.ID;
                          }
                        }
                    <form asp-controller="Home" asp-action="SaveCertification" id="certForm">
                        <div class="form-inline col-md-8">
                            <label class="col-md-2">Name:</label>
                            <input type="text" name="nameField" value="@certName" pullright />
                            <input type="text" name="IDField" value="@systemID" hidden />
                        </div>
                        <div class="form-inline col-md-8 vert-offset-top-20">
                            <label class="col-md-2">Years Valid:</label>
                            <input name="yearsField" value="@yearsValid" type="text"  />
                        </div>
                        <div class="form-group col-md-8 vert-offset-top-20">
                            <label for="comment">Description:</label>
                            <textarea class="form-control" form="certForm" rows="5" id="comment" name="descriptionField"></textarea>
                        </div>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary">Upload</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="container col-md-5 col-md-offset-1 panel panel-default ">
        <div class="panel-body fixed-panel" style="padding-left: 0px;  padding-right: 0px;">
            <img src="https://yt3.ggpht.com/-DiVJHKaP0Ao/AAAAAAAAAAI/AAAAAAAAAAA/X73M329ggaw/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive">
        </div>
    </div>
</body>