
@{
    ViewData["Title"] = "Home Page";
}
@model WebApplication3.Models.Certification

<head>

</head>

<body>
    <div class="container col-md-6 col-md-offset-3 panel panel-default">
        Certificate Information
        <div class="panel-body">
            <div class="panel panel-default col-md-6">
                <div class="panel-body">
                      @{string certName;
                          string yearsValid;
                          int systemID;
                          if (Model == null)
                          {
                              certName = "";
                              yearsValid = "";
                              systemID = -1;
                          }
                          else
                          {
                              certName = Model.title;
                              yearsValid =""+ Model.yearsBeforeExp;
                              systemID = Model.ID;
                          }
                        }
                    <form asp-controller="Home" asp-action="SaveCertification" id="certForm">
                        <div class="form-inline">
                            <label pullleft>Name:</label>
                            <input type="text" name="nameField" value="@certName" pullright />
                        </div>
                        <div class="form-inline">
                            <label pullleft>Years Valid:</label>
                            <input class="pull-right" name="yearsField" type="text"  />
                        </div>
                        <div class="form-group">
                            <label for="comment">Description:</label>
                            <textarea class="form-control" form="certForm" rows="5" id="comment" name="descriptionField"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary">Upload</button>
                        <button class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>