@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>

</head>
<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label">Title:</label>
                        <input type="text" /> 
                    </div>
                    <div class="form-inline">
                        <label class="control-label">Course Code:</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label pull-left">Days:</label>
                    <div class="checkbox pull-right">
                        <label><input type="checkbox" value="">Monday</label>
                    </div>
                    <div class="checkbox pull-right">
                        <label><input type="checkbox" value="">Tuesday</label>
                    </div>
                    <div class="checkbox pull-right">
                        <label><input type="checkbox" value="">Wednesday</label>
                    </div>
                    <div class="checkbox pull-right">
                        <label><input type="checkbox" value="">Thursday</label>
                    </div>
                    <div class="checkbox pull-right">
                        <label><input type="checkbox" value="">Friday</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label">Time Start</label>
                        <input type="text" />
                    </div>
                    <div class="form-inline">
                        <label class="control-label">Time End</label>
                        <input type="text" />
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Term
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Fall</a></li>
                            <li><a href="#">Winter</a></li>
                            <li><a href="#">Spring</a></li>
                            <li><a href="#">Summer</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body">
            <form asp-controller="" asp-action="">
                <div id="scrollview" style="overflow:scroll;height:400px">
                    
                </div>
    
            </form>
            <!--Generate href tags for all the  certifications and when selected add them to the list above-->
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Term
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>