@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<User>
@{
}
<body>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="This is where the video link goes"></iframe>
    </div>
    <form>
        <button class="btn btn-primary">Next</button>
    </form>
</body>