@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutNoNav";
}
<head>

</head>
<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body fixed-panel">
            <form asp-controller="Home" asp-action="SignInAdmin">
                <!--Authenticate the user-->
                <div class="form-group">
                    <div class="row">
                        <div class=" col-md-offset-2 col-md-8 panel panel-default">
                            <div class="panel-body">
                                <div class="form-inline">
                                    <label class="control-label">User Name:</label>
                                    <input type="text" name="usernameField" class="form-control" />
                                </div>
                                <div class="form-inline">
                                    <label class="control-label">Password:</label>
                                    <input type="text" name="passwordField" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="row col-md-offset-4 col-md-4"><button class="btn btn-primary" type="submit">Log in </button></div>
                </div>
            </form>
        </div>
    </div>
    <div class="container col-md-5 col-md-offset-1 panel panel-default ">
        <div class="panel-body fixed-panel" style="padding-left: 0px;  padding-right: 0px;">
            <img src="https://yt3.ggpht.com/-DiVJHKaP0Ao/AAAAAAAAAAI/AAAAAAAAAAA/X73M329ggaw/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" class="img-responsive">
        </div>
    </div>
</body>
