
@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body fixed-panel vertical-center">
                <div class="col-md-offset-5 col-md-6 ">
                    <form asp-controller="Home" asp-action="VisitReport"><button class="btn btn-primary ">Visit Report</button></form>
                    <form asp-controller="Home" asp-action="ClimbTimeReport"><button class="btn btn-primary vert-offset-top-20">Climb Time Report</button></form>
                    <form asp-controller="Home" asp-action="CourseReport"><button class="btn btn-primary vert-offset-top-20">Course Report</button></form>
                    <form asp-controller="Home" asp-action="CertificationReport"><button class="btn btn-primary vert-offset-top-20">Certification Report</button></form>
                </div>
        </div>
    </div>
</body>