
@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body fixed-panel vertical-center">
                <div class="col-md-offset-5 col-md-6 ">
                    <form asp-controller="" asp-action=""><button class="btn btn-primary ">Visit Report</button></form>
                    <form asp-controller="" asp-action=""><button class="btn btn-primary ">Course Report</button></form>
                    <form asp-controller="" asp-action=""><button class="btn btn-primary ">Certification Report</button></form>
                </div>
        </div>
    </div>
</body>