
@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body fixed-panel vertical-center">
            <form>
                
                <div class="col-md-offset-5 col-md-6 ">
                    <button class="btn btn-primary dropdown-toggle vert-offset-bottom-20" type="button" data-toggle="dropdown">
                        Category:
                        <span class="caret"></span>
                    </button>
                    <button class="btn btn-primary ">Generate Report</button>
                </div>
            </form>
        </div>
    </div>
</body>