@model WebApplication3.User


@{
    ViewData["Title"] = "Home Page";
}





<head>

</head>

<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <div class="form-inline">
                        <div class="col-md-4 col-md-offset-1">
                            <button class="btn btn-primary">Shoes</button>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <button class="btn btn-primary">Harness</button>
                        </div>
                    </div>  
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Lap Type
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Boulder</a></li>
                            <li><a href="#">Top Rope</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-primary">Check In</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body">
            <form asp-controller="Home" asp-action="">
                <div id="scrollview" style="overflow:scroll;height:400px">
                   
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg vert-offset-top-20" id="Button3" type="submit">Add Certification</button>
                </div>
            </form>
        </div>
    </div>
</body>




